[Unit]
Description=Prometheus Server
After=network.target

[Service]
Type=simple
User=tchaudhry
WorkingDirectory=/home/tchaudhry/monitoring/prometheus
ExecStartPre=/bin/bash clean-up.sh
ExecStart=/usr/bin/docker-compose up
Restart=always

[Install]
WantedBy=multi-user.target
